body{
font-family: 'Alkatra', cursive;
font-family: 'Bebas Neue', cursive;
margin: 0;
}
footer{
    background-image: linear-gradient(blue,red);
}
.div{
    background-image: url(picture/Maa\ Kali-5.jpeg);
    background-repeat: no-repeat; 
    width: 1000px;
    height: 900px; 
    background-position: center;
    text-align: center;
    color:white;
}
.div1{
    display: flex;
    margin-left: 500px;
    margin-right: 500px;
}
.a{
    text-decoration:none;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(blue,red);
    margin-left: 600px;
}
.a1{
    text-decoration:none;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(red,blue);
    margin-left: 600px;
}
.a2{
    text-decoration:none;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(maroon,darkorange);
    margin-left: 50px; 
}
.a3{
    text-decoration:none;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(darkorange,maroon);
    margin-left: 50px; 
}
.h1{
    text-align: center;
}
.h2{
    padding-left: 20px;
    padding-right: 20px;
}
.h3{
    background-color: crimson;
    height: 50px;
    width: 20px;
    padding: 10px;
}
.h4{
    width: 20%;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.h5{
    background-color:blue;
    margin: 20px 20px 20px 200px;
    padding: 10px 10px 10px 10px; 
}
.h6{
    background-color:red;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px; 
}

.h7{
   background-color:grey;
   margin: 20px 20px 20px 20px;
   padding: 10px 10px 10px 10px;
}

.h8{
    display: flex;
    text-align: justify;
}
.img{
    padding-left: 400px;
    padding-right: 400px;
}
.img1{
    padding-left: 300px;
    padding-top: 50px;
}
.img2{
    padding-left: 350px;
    padding-top: 50px;
    width: 600px;
}
.input{
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px 10px 10px 10px;
}
.input1{
    width: 400px;
    text-align: center;
}
.input2{
   background-color: crimson;
    height: 60px;
    width: 40%; 
    margin-left: 200px;
    margin-right: 200px;
    padding: 40px 10px 10px 50px;
}
.button{
    background-color: red;
}
